.gpbutton{
    border-radius: 25px;
    border: 0;
    padding: 5px 10px;
    margin: auto;
    color: white;
    background-color: #132c51;
    border-color: #132c51 !important;
    font-family: 'Open Sans' !important;
}