.gpbutton{
    border-radius: 25px;
    border: 0;
    padding: 5px 20px;
    margin: auto;
    color: white;
    background-color: #132c51;
    border-color: #132c51 !important;
    font-family: 'Open Sans' !important;
    height: 40px;
    max-height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.g-logo-button{
    max-height: 20px;
}
